@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,900,800,500,700,600);
*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  font-size: 6px;
  background: #fbfbfb;
  padding: 40px 20px;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 860px) {
  html, body {
    font-size: 8px;
    padding: 30px 50px;
  }
}
@media (min-width: 1200px) {
  html, body {
    font-size: 10px;
  }
}

.slider-wrapper {
  position: relative;
  max-width: 90rem;
  min-width: 480px;
  background: #fff;
  margin: 0 auto;
}
.slider-wrapper .slider {
  position: relative;
  height: 65rem;
  padding: 5rem 0;
}
.slider-wrapper .slider::after {
  content: "";
  display: table;
  clear: both;
}
.slider-wrapper .slide-navigation__txt {
  width: 10%;
  position: relative;
  float: left;
  overflow: hidden;
}
.slider-wrapper .slide-navigation__txt::after {
  content: "";
  display: table;
  clear: both;
}
.slider-wrapper .slide-navigation__txt {
  display: block;
  height: 100%;
}
.slider-wrapper .slide-navigation__txt::after {
  content: "";
  display: table;
  clear: both;
}
.slider-wrapper .slide-navigation__txt ul {
  margin: 0;
  list-style: none;
  padding: 0;
  position: absolute;
  display: table-cell;
  width: 30rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 0;
          transform-origin: 0;
  margin-left: calc(50% - 0.14rem);
}
.slider-wrapper .slide-navigation__txt ul::after {
  content: "";
  display: table;
  clear: both;
}
.slider-wrapper .slide-navigation__txt li {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 0 1.2rem;
  position: relative;
  float: left;
  font-size: 1.2rem;
  font-weight: 600;
  color: #A1A5B8;
}
.slider-wrapper .slide-navigation__txt li span {
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: block;
}
.slider-wrapper .slide-navigation__txt li span.active {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  color: #E34D67;
}
.slider-wrapper .slides-container {
  position: relative;
  width: 27%;
  float: left;
  height: 100%;
}
.slider-wrapper .slide {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  z-index: 1;
}

.slider-wrapper .slide .slide-content {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0 1rem;
}
.slider-wrapper .slide .slide-txt {
  position: relative;
  display: block;
  width: 100;
  margin-top: 2rem;
}
.slider-wrapper .slide .slide-txt::after {
  content: "";
  display: table;
  clear: both;
}
.slider-wrapper .slide .slide-txt p {
  margin: 0;
  /* max-width: 55%; */
  /* color: #666666; */
  font-size: 1.2rem;
  line-height: 1.4;
  /* float: left; */
}
