@import url('https://fonts.googleapis.com/css?family=Rubik:400,700');

body{
	background-color: #aAaAaA;
	font-family: 'Rubik', sans-serif;
}

.temperature-high {
	font-size: 2em; color: var(--cyan);
	margin-bottom: 0.3rem;
}
.temperature-low {
	font-size: 1.5em; color: var(--gray-dark);
	margin-bottom: 0;
}
.climate {
	font-size: 0.8em; color: var(--gray);
}
.weather-box {
	border-radius: 10px;
	background: #FFF;
	box-shadow:1px 0px 10px #2f2f2f;
}
.weather-box .header {
	background: rgba(0, 0, 0, 0.1);
	padding: 1em;
	text-align: center;
	font-weight: 700;
}
