@import url('https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,700');

#quote {
	font-family: 'IM Fell DW Pica', serif;
	font-size: 1.5em;
}
.author {
	display: block;
	font-family: 'Merriweather', serif;
	color: var(--pal-light-green);
	text-shadow: none;
}
.forecast {
text-transform: uppercase;
}
.temperature-high {
font-size: 2em; color: var(--cyan);
margin-bottom: 0.3rem;
}
.temperature-low {
font-size: 1.5em; color: var(--gray-dark);
margin-bottom: 0;
}

.temperature-change { /* for button */
	background:none!important;
	border:none; 
	padding:0!important;

	font-family:inherit;
	font-size:inherit;

	font-size: 0.8em; 
	color: #9797A2;
	cursor:pointer;
}
.slides-container {
border-right: 2px solid rgba(255, 255, 255, 0.3);
font-family: 'Rubik', sans-serif;
}
.banner {
background: rgba(255, 255, 255, 0.2);
padding: 1em;
text-align: center;
font-weight: 700;
color: var(--pal-light-red);
}
.slide-navigation__txt {
position: relative;
display: block;
height: 100%;
font-family: 'Rubik', sans-serif;
}
.slide-navigation__txt ul {
margin: 4em 0 0 1em;
list-style: none;
padding: 0;
width: 24rem;
-webkit-transform: rotate(90deg);
transform: rotate(90deg);
-webkit-transform-origin: 0;
transform-origin: 0;
}
.slide-navigation__txt ul::after {
content: "";
clear: both;
} 
.slide-navigation__txt li { 
text-transform: uppercase;
letter-spacing: 0.2rem;
margin: 0 1rem;
position: relative;
float: left;
font-size: 1rem;
color: var(--pal-light-green);
} 
.slide-navigation__txt li span {
cursor: pointer;
-webkit-transition: all 0.5s ease;
transition: all 0.5s ease;
display: block;
}
.slide-navigation__txt li span.active {
-webkit-transform: scale(1.1, 1.1);
transform: scale(1.1, 1.1);
color: var(--pal-light-red);
} 
.slide {
opacity: 0;
display: none;
z-index: 2;
}
.slide img {
border: none;
box-shadow: none;
}