@import url('https://fonts.googleapis.com/css?family=Rubik');

body{
	background-color: #aAaAaA;
	font-family: 'Rubik', sans-serif;
}
.mainsection{
	margin-top:50px;
}
.weather-part-third-image img{
	width: 100%;
	height: auto;
	margin:0px;
}
.weather-part-third{
	box-shadow:1px 0px 10px #121212;
	background-color: #FFF;
}
.fa-circle-o{
	font-size: 0.3em;
}
.weather-part-third-icon{
	background-color: #EDEADE;
}
.temperature {
	font-size: 1.5em; color: var(--cyan);
}
.date {
	font-size: 0.7em; color: lightslategray;
}